/* 重置默认样式 */
body, h1, h2, p,  button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
  }
  
  /* 基本样式 */
  body {
    font-family: Arial, sans-serif;
  }
  input{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
/* 将宽度设置为100% */
  /* 调整输入框样式 */
#messageInput {
    width: 100%; /* 使输入框占据整个宽度 */
    height: 100%; /* 设置输入框高度 */
    font-size: 16px; /* 设置字体大小 */
    padding: 10px; /* 设置内边距 */
    box-sizing: border-box; /* 保证内边距和边框不会影响宽度和高度 */
    border: #666666;
  }
  
  
  .header {
    background-color: #9fc5f8;
    
    color: rgb(0, 0, 0);
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20%;
  }
  
  .message {
    background-color: #ffffff;
    padding: 100%;
    border-radius: 5px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  button {
    background-color: rgba(255, 149, 0, 0.865);
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(255, 149, 0);
  }
  
  .footer {
    background-color: #9fc5f8;
    color: white;
    text-align: center;
    padding: 1%;
  }

  /* 调整历史消息样式 */
#messageArea {
    padding: 0px;
    background-color: #ffffff;
    overflow-y: auto; /* 允许滚动 */
    max-height: calc(100vh - 150px); /* 限制最大高度，确保页面不会溢出 */
  }
  
  .message {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .message-sender {
    font-weight: bold;
  }
  
  .message-time {
    color: #666666;
  }
  
  .message-content {
    font-size: 16px;
  }
  

  /* 响应式布局 
  @media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .header button {
      margin-top: 10px;
    }
  
    .footer {
      text-align: center;
    }
  }

*/